.page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.desktopList {
  width: 40%;
  overflow-y: auto;
  display: block;
}

.mobileSheet {
  display: none;
}

@media (max-width: 1024px) {
  .page {
    flex-direction: column;
  }

  .desktopList {
    display: none;
  }

  .mobileSheet {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: none;
    overflow-y: auto;
    z-index: 10;
  }
}